<html>
<head>
  <title>Uncool Coverage Report</title>
  <style>
    body{background:#DDDDFF; margin: 0; padding: 0; color: #111133;}
    #main{
      width:600px; margin:0 auto;
    }
    #list {
      color: #333;
      border:1px solid #ccc;
      background:white;
      padding: 10px 20px 30px 20px;
      min-height: 300px;
    }
    .green{color:green;}
    .red{color:red;}
  </style>
</head>
<body>
<div id="main">
  Uncool
  <div id="list">
    <h1>Uncool Coverage Report</h1>
    <% coverage.sort.each do |unit| %>
      <% if unit.covered? %>
        <div class="green"><%= unit.to_s %></div>
      <% else %>
        <div class="red"><%= unit.to_s %></div>
      <% end %>
    <% end %>
  </div>
  Produced by <a href="http://proutils.github.com/uncool">Uncool</a> (c) 2010 Thomas Sawyer
</div>
</body>
</html>

